<!DOCTYPE html>
<html>
<head>
    <script type='text/javascript', src='./assets/plugins/xdlocalstorage/xdLocalStorage.min.js'></script> 
</head>
<body>
    <script type="text/javascript">
    window.onload = function() {
      xdLocalStorageEmbedded.init( "app.crmgrow.com" );
    };
</script> 
</body>
</html>