doctype html
head
  title CRMGROW
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  base(href='/')
  link(rel='shortcut icon', type='image/x-icon', href='./assets/icons/favicon.ico')
  meta(property='og:title', content=`CRMGrow: Google Login`)
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='./theme/css/bootstrap.min.css')
  //- Font Import
  link(href='https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600;700;800&display=swap', rel='stylesheet')
  //- Basic JS lib import
  script(src='./theme/js/jquery.min.js')
  script(src='./theme/js/popper.min.js')
body
  .status
    | Signing in with Outlook
//- Theme JS
script(src='./theme/core/auth.js')